.btn {
    background-color: #08b070;
    color: white;
    border-radius: 3px;
    border-width: 0;
    padding: 10px;
    font-size: 15px;
    margin: 30px 10px;
}

.errorMessage {
    color: #f81229;
    font-size: 0.875rem;
    margin-top: 0;
    margin-left: 50%;
}

input {
    padding: 0 10px;
    width: 150px;
}