@import '../../../assets/scss/global.scss';

.form-wrapper {
    margin: 1px 19.97%;

    .form-row {
        padding: 10px;
    }

    .button-wrapper {
        justify-content: center;
        margin: 0 16.67%
    }
}