@import '../../../assets/scss/global.scss';

.header-section {
    background-color: #edeef0;
    height: 120px;
    padding: 10px;

    .page-logo {
        float: left;

        img {
            height: 100px;
            width: 100px;
        }
    }

    .page-description {
        float: left;
        color: #08b070;
        font-size: 40px;
        padding: 25px;
    }

    .add-section {
        float: right;
    }
}

.title-wrapper {

    padding: 20px;
    text-align: center;

    .page-title {
        font-size: 1.75rem;
        color: #f6bd22;
    }
}